<div class="row">
    <div class="col-md-6">
        <form [formGroup]="rentForm">
            <div class="mb-3">
                <label for="renting" class="form-label">Bérlő</label>
                <select class="form-select" id="renting" formControlName="renting"> 
                    
                    @for (user of users; track $index) {
                        <option [defaultSelected]="user.id == preselectedUser?.id ? true : false" [ngValue]="{ id: user.id }">{{user.name}} ({{user.customerId}})</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="vehicle" class="form-label">Jármű</label>
                <select class="form-select" id="vehicle" formControlName="vehicle">

                    @for (vehicle of vehicles; track $index) {
                        <option [defaultSelected]="vehicle.id == preselectedVehicle?.id ? true : false" [ngValue]="{ id: vehicle.id }" >{{vehicle.brand}} ({{vehicle.id}}, {{vehicle.licensePlate}})</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="timestampFrom" class="form-label">Bérlés kezdete</label>
                <ejs-datetimepicker type="datetime" class="form-control" id="timestampFrom" formControlName="timestampFrom"></ejs-datetimepicker>
            </div>
            <div class="mb-3">
                <label for="timestampTo" class="form-label">Bérlés vége</label>
                <ejs-datetimepicker type="datetime" class="form-control" id="timestampTo" formControlName="timestampTo"></ejs-datetimepicker>
            </div>
        </form>
        <button class="btn btn-outline-primary" (click)="arrangeRent()">Bérlés indítása</button>
    </div>
</div>

