
<form class="form-inline" [formGroup]="searchForm">
    <div class="row" style="margin-bottom: 2%; margin-top: 1%;">
        
        <div class="form-group col-md-2">
            <label for="id" class="form-label">Azonosító</label>
            <input type="text" class="form-control" id="id" formControlName="id">
        </div>

        <div class="form-group col-md-2">
            <label for="type" class="form-label">Típus</label>
            <input type="text" class="form-control" id="type" formControlName="type">
        </div>

        <div class="form-group col-md-2">
            <label for="licensePlate" class="form-label">Rendszám</label>
            <input type="text" class="form-control" id="licensePlate" formControlName="licensePlate">
        </div>

        <div class="form-group col-md-2">
            <label for="status" class="form-label">Státusz</label>
            <select class="form-select" id="status" formControlName="status">
                <option value='szabad'>Szabad</option>
                <option value='bérelt'>Bérelt</option>
                <option value='javítás alatt'>Javítás alatt</option>
                <option value='-'>Mindegy</option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label for="vehicleType" class="form-label">Járműtípus</label>
            <select class="form-select" id="vehicleType" formControlName="vehicleType">
                <option value='autó'>Autó</option>
                <option value='hajó'>Hajó</option>
                <option value='-'>Mindegy</option>
            </select>
        </div> 
        <div class="form-group col-md-2" style="margin-top: 2.5%; margin-bottom: 1%;">
            <button class="btn btn-outline-primary margin" (click)="search()">Keresés</button>
            <button class="btn btn-outline-secondary margin" (click)="resetSearch()">Reset</button>
        </div>

    </div>    
</form>





<table class="table table-striped">
    <thead>
        <tr>
            <th>Kód</th>
            <th>Márka</th>
            <th>Típus</th>
            <th>Rendszámtábla</th>
            <th>Alvázszám</th>
            <th>Napi bérleti díj</th>
            <th>Óra állása</th>
            <th>Státusz</th>
            <th>Jármű típus</th>
        </tr>
    </thead>
    <tbody>
        @for (vehicle of vehicles; track $index) {
            <tr>
                <td>{{vehicle.id}}</td>
                <td>{{vehicle.brand}}</td>
                <td>{{vehicle.type}}</td>
                <td>{{vehicle.licensePlate}}</td>
                <td>{{vehicle.vin}}</td>
                <td>{{vehicle.pricePerDay}}</td>
                <td>{{vehicle.odometer}}</td>
                <td>{{vehicle.status}}</td>
                <td>{{vehicle.vehicleType}}</td>
                <td>
                    <button class="btn btn-outline-success" (click)="goToRentForm(vehicle.id)">Foglalás</button>
                    <button class="btn btn-outline-primary" (click)="goToVehicleForm(vehicle.id)">Módosítás</button>
                    <button class="btn btn-outline-danger" (click)="deleteVehicle(vehicle)">Törlés</button>
                </td>
            </tr>
        }
    </tbody>
</table>